<style>
    .navbar {
        margin-bottom: 5%;
    }
</style>



<nav class="navbar navbar-expand-lg fixed-top bg-info" style=" color: white;">
    <a class="navbar-brand" href="/" style=" color: white;">Neighborhood_Watch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/" style=" color: white;">Home <span class="sr-only">(current)</span></a>
            </li>
            <li><a class="nav-link" href="/hood/" style=" color: white;" class="phots">Hoods</a></li>            
            <li><a class="nav-link" href="/posts/" style=" color: white;" class="phots">Posts</a></li>            
            <li><a class="nav-link" href="/businesses/" style=" color: white;" class="phots">Businesses</a></li>            
            
        </ul>
        <div class="">
            <div class="forms">
                <form class="me-auto search-form " target="_self" action="{% url 'search' %}">
                    <div class="input-group ">

                        <input type="text" class="form-control" placeholder="Search Business by name"
                            name="search_term">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"
                                    style="color: white;"></i></button>
                        </div>
                    </div>
                </form>

            </div>
            {% if user.is_authenticated %}
            

            <li class="dropdown btn btn-default">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown"><i
                        class="far fa-user text-white"></i>

                </a>
                <ul class="dropdown-menu" role="menu" style=" text-decoration: none;">

                    <li class="">
                        <a class="btn btn-default" href="/admin" style=" color: black;">Dashboard</a>
                    </li>
                    <li>
                        <a class="btn btn-default" href="/profile" style=" color: black;">{{ user.username }}</a>
                    </li>
                    <li>
                        <a class='btn btn-default' href="/accounts/register">Register</a>
                    </li>
                    
                    <li>
                        <a class='btn btn-default' href="/logout">Log Out</a>
                    </li>
                </ul>
            </li>
            

            {% else %}
            <li>
                <a class='btn btn-default' href="accounts/login" style="font-weight: 700;">Login</a>
            </li>
            {% endif %}
        </div>

    </div>
    
    </div>
    
</nav>
<br><br><br>